<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://scontent.fcdg1-1.fna.fbcdn.net/v/t1.0-9/71817613_1344363065738019_5838391530716397568_o.jpg?_nc_cat=101&ccb=2&_nc_sid=cdbe9c&_nc_ohc=du9sTHN6uhkAX-MJECE&_nc_oc=AQkMhuHwaxdao7vNzhZGrP-4sg4AB73PjvQfrNtw2JhbEgqJmLH4FNJO4oZfeSTeZ1k&_nc_ht=scontent.fcdg1-1.fna&oh=0caab0db9050d233c83ca6ac0cfe1d77&oe=5FE37D01);">
  <div class="container text-center">
    <h1>Welcome to Global Volunteers! <i class="fas fa-hands-helping"></i></h1>
    <p>Le bénévolat vous tend les bras.</p>
    <%= link_to "Les missions", missions_path, class:"btn btn-ghost-blue mt-3" %>
  </div>
</div>
<div class="container bg-white my-5 p-3" style= "max-width: 800px; box-shadow: 0 0 5px rgba(0, 0, 0, 0.2); border-radius: 5px">
  <div class="row justify-content-center">
      <h4> A propos de Global Volunteers</h4>
  </div>
  <div class="row justify-content-center">
  <div class="col-12">
      <p>Global Volunteers est une initiative de Globaux shapers et le wagon pour créer une plateforme pour permettre aux personnes souhaitant investir leur temps dans des missions à intérêt général de trouver des missions de bénévoles.</p>
      <p>Grâce à cette plateforme toute personne peut devenir bénévole et participer à une mission. Il suffit pour cela de créer un compte puis de choisir la mission qui vous intéresse.</p>
      <p>Les associations à la recherche de bénévoles peuvent elles aussi poster une mission sur la plateforme après avoir créé leur profil.</p>
  </div>
  </div>
</div>
