<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://www.carenews.com/sites/default/files/styles/large_actualites/public/2020-01/20%20associations%20o%C3%B9%20faire%20du%20b%C3%A9n%C3%A9volat.jpg?itok=OwE8tCds);">
  <div class="container">
    <h1>Welcome to Global Volunteers! <i class="fas fa-hands-helping"></i></h1>
    <p>Le bénévolat vous tend les bras.</p>
    <%= link_to "Les missions", missions_path, class:"btn btn-primary" %>
  </div>
</div>
